:root {
    --gutter: 20px;

    --form-text-size: 1.2rem;
    --card-title-size: 1.5rem;
    --card-author-size: 1.1rem;

    --card-width: 20rem;
    --card-height: calc(var(--card-width) * 0.8);

    --primary-color: #7f9347;
    --secondary-color: #56104e;
    --dark-secondary-color: #3d0b37;
    --neutral-text-color: #333;
    --light-text-color: #fff;
    --dark-text-color: #000;
    --background-color: #F3F9D2;
    --surface-color: #fffdf8;
    --shadow-color: gray;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--neutral-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid pink; */
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body.drawer-opened {
    grid-template-rows: auto auto 1fr auto;
}

header,
.drawer,
.main,
footer {
    padding: var(--gutter);
}

header,
footer {
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 20rem;
    align-items: center;
    gap: var(--gutter);
    padding-right: calc(var(--gutter) * 3);
}

header h1 {
    color: var(--light-text-color);
}

#drawer-trigger:active,
form button:active {
    transform: scale(0.95);
}

#drawer-trigger {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: calc(var(--gutter) / 2);

    color: var(--light-text-color);
    background-color: var(--primary-color);
    font-size: var(--form-text-size);
    font-weight: bold;
    padding: calc(var(--gutter) / 4) calc(var(--gutter) * 2);
    border-style: none;
    border-radius: calc(var(--form-text-size) / 2);
    border: 3px solid var(--light-text-color);
}

#drawer-trigger * {
    color: var(--light-text-color);
    font-size: var(--form-text-size);
    font-weight: bold;
    cursor: pointer;
}

#drawer-trigger img {
    width: calc(var(--form-text-size) * 2);
}



.drawer {
    font-size: var(--form-text-size);
    font-weight: bold;
}

.drawer form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gutter);
}

.drawer input {
    font-size: var(--form-text-size);
    padding: calc(var(--gutter) / 4) calc(var(--gutter) / 2);
    border-style: none;
    /* border-radius: calc(var(--form-text-size) / 4); */
    /* background-color: var(--background-color); */
    border-bottom: 1px solid var(--primary-color);
}

.drawer #title {
    width: 35ch;
}

.drawer #author {
    width: 35ch;
}

.drawer #page {
    width: 8ch;
}

.drawer fieldset {
    border: none;
    min-width: 0;
    display: flex;
    gap: calc(var(--gutter) / 2);
}

.drawer input[type=radio] {
    accent-color: var(--primary-color);
    border: 0px;
    width: var(--form-text-size);
    height: var(--form-text-size);
}

.drawer button {
    color: var(--light-text-color);
    background-color: var(--primary-color);
    font-size: var(--form-text-size);
    font-weight: bold;
    padding: calc(var(--gutter) / 4) calc(var(--gutter) * 2);
    border-style: none;
    border-radius: calc(var(--form-text-size) / 2);
}

.main {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    gap: var(--gutter);
    padding-top: calc(var(--gutter) * 3);
    padding-bottom: calc(var(--gutter) * 3);
}


.card {
    background-color: var(--surface-color);
    height: var(--card-height);
    padding-bottom: var(--gutter);
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: 
        4px 4px var(--secondary-color);
    text-align: center;
}

.card-header {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-body {
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
}

.card h1 {
    color: var(--dark-text-color);
    font-size: var(--card-title-size);
    margin-bottom: var(--gutter);
}

.card .author {
    font-size: var(--card-author-size);
}

.card .page {
    text-align: center;
}

.card .del {
    width: 1.5rem;
    margin-top: calc(var(--gutter)/2);
    margin-left: calc(var(--gutter)/2);
    /* position: absolute;
    top: calc(var(--gutter)/2);
    left: calc(var(--gutter)/2); */
    cursor: pointer;
}

.card .read {
    height: 4rem;
    margin-right: calc(var(--gutter)/2);
    /* position: absolute;
    top: 0;
    right: calc(var(--gutter)/2); */
    cursor: pointer;
}

footer {
    text-align: center;
}